$white-key: (
    key-width : 56.50px,
    key-height: 180px,
    colors    : (
        left-hand : (
            full-opacity: rgba(63, 255, 227, 1),
            zero-opacity: rgba(63, 255, 227, 0)
        ),
        right-hand: (
            full-opacity: rgba(230, 187, 72, 1),
            zero-opacity: rgba(230, 187, 72, 0)
        )
    )
);

$black-key: (
    key-width : 25px,
    key-height: 100px,
    colors    : (
        left-hand : (
            full-opacity: rgba(0, 189, 162, 1),
            zero-opacity: rgba(0, 189, 162, 0)
        ),
        right-hand: (
            full-opacity: rgba(158, 121, 21, 1),
            zero-opacity: rgba(158, 121, 21, 0)
        )
    )
);

$set: (
    padding-left: 40px,
    bg-img     : "../media/vwood.png"
);